.covidcard-container {
    width: 160px;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.15);
    overflow: hidden;
}

.covidcard {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
}

.covidcard-name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    font-weight: bold;
    text-align: center;
    padding: 4px;
    margin: 0;
    background-color:rgba(0, 128, 255, 0.55);
    color: rgb(252, 252, 252);
}
.covidcard-todo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;

    text-align: center;
    padding: 4px;
    
    margin: 0;
    background-color:rgba(0, 128, 255, 0.55);
    color: white;
}

.covidcard-no {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0;
    
    display: inline;
    padding: 2px;
    font-weight: bold;
    background-color: rgba(255,255,255,.60);
    color: rgb(18, 14, 16);
}

.covidcard-date {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    
    display: inline;
    padding: 1px;
    font-weight: auto;
    background-color: rgba(255,255,255,.60);
    color: rgb(12, 10, 10);
}

.covidcard-actions {
    text-align: center;
    display: column;
    background-color:#0080FF;


}

.covidcard-actions > div {
    flex: 1;
    padding: 4px;
    text-align: center;
    font-size: .8em;
    cursor: pointer;
    transition: background-color .2s ease-in;
}
